{% extends 'transaction/base.html' %}

{% block content %}

<ul>
    <li><a href="{% url 'specialcalculation1' %}">Средняя цена, общее количество, общий расход и скорость расхода на указанный товар/услугу</a></li>
    <li><a href="{% url 'specialcalculation2' %}">Средняя цена, общее количество, общий расход и скорость расхода на все товары/услуги</a></li>
    <li><a href="{% url 'specialcalculation3' %}">Расчёт общего расхода, скорости расхода и доли от общих расходов по категориям товаров/услуг</a></li>
    <li><a href="{% url 'specialcalculation4' %}">Расчёт общего дохода, скорости дохода и доли от общих доходов по типам поступлений в процентах</a></li>
    <li><a href="{% url 'specialcalculation5' %}">Расчёт общего дохода, скорости дохода и доли от общих доходов по поступлениям в процентах</a></li>
</ul>
{% endblock %}