{% extends 'transaction/base.html' %}

{% block content %}

<div class="center">
  <h1>Приложение "Личные денежные операции".</h1>
  <p>Данное приложение предназначено для учёта и анализа операций доходов и расходов.</p>
  <p>С помощью встроенного предиктора можно делать прогнозы касательно сроков "кассового разрыва"</p>
  <p>и вовремя предпринимать меры по его предотвращению.</p>
  <p>Также имеется анализ категорий доходов и расходов в абсолютных среднесрочных и в процентных показателях</p>
  <p>Имеется возможность анализа за период: количества товара/услуги, средней цены, расходов на товар/услугу</p>
  <p>Имеется возможность анализа за период: статей дохода</p>
  <p>Имеется возможность анализа за период: прибыли</p>
</div>

{% endblock %}